<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c5ace664-c8d0-4c60-8003-dd1403a2e136/resourceGroups/gestorsvg_group-bb25/providers/Microsoft.Web/sites/gestorsvg</ResourceId>
    <ResourceGroup>gestorsvg_group-bb25</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://gestorsvg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e8d23856-28eb-4d22-b6db-6efe32037e3a</ProjectGuid>
    <PublishUrl>https://gestorsvg.scm.azurewebsites.net/</PublishUrl>
    <UserName>$gestorsvg</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>